header {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #703770;
	z-index: 1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: #0C819C;
}

li {
	float: left;
	border-right: 1px solid #703770;
}

li:last-child {
	border-right: none;
	border-left: 1px solid #703770;
}

li a {
	display: block;
	color: #C5D8E1;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #334553;
}

footer {
	width:100%;
	background-color: #0C819C;
	position:fixed;
	text-align:center;
	bottom: 0;
	border-top: 1px solid #703770;
	z-index: 1;
}

footer h3{
	font-size: 80%;
	color:#C5D8E1;
}
