html{
}

body{
	background-color: #333;
	margin: 0;
}

.main_container {
  display:inline-block;
  vertical-align:top;
	margin: auto;
	max-width: 90%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
}

.error_msg {
	margin: 0;
	color: red;
	display: none;
}
